html body {
    font-family: Lato, sans-serif;
    color: #424551;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    font-weight: 700;
    background: linear-gradient(45deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../image/shapes2.svg);
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-top: 20px;
}

.button {
    border-radius: 4px;
    background: linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%);
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    white-space: nowrap;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
}


.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-link {
    font-weight: 700;
    line-height: 1.6;
    transition: .3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-profile {
    margin-right: 8px;
}

.header__user-btn {
    line-height: 1.6;
    transition: .3s;
}

.header__user-btn:hover {
    color: #FF3F3A;
}

.header__body {
    color: #1E212C;
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: auto 0; */
    flex: 1;
}

.header__play {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
}

.header__play img {
    margin-right: 16px;
    border-radius: 50%;
    transition: .3s ease-out;
}

.header__play img:hover {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 1px;
    font-size: 64px;
    width: 496px;
    margin: 20px 0 60px;
}

.div_header__content-buttons {
    display: flex;
    align-items: center;
}

.button-empty {
    border-radius: 4px;
    background: transparent;
    border: 1px solid rgba(255, 63, 58, 1);
    color: rgba(255, 63, 58, 1);
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    white-space: nowrap;
    transition: 0.3s;
}

.button-empty:hover {
    transform: scale(1.05);
}

.header__content-btn {
    margin-right: 24px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.header__row-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    align-items: center;
}

.header__row-item span {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin-right: 12px;
}

.header__row>span {
    background-color: #FF3F3A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 15px;
}


/*========================= ABOUT =========================*/
/*========================= ABOUT =========================*/

.main {
    font-weight: 700;
}

.main__about {
    padding: 180px 0 180px;
}

.about__createx::before {
    content: "";
    position: absolute;
    background-image: url(../image/shapes.svg);
    width: 100px;
    height: 85px;
    top: -80px;
    right: -140px;
}

.about__createx {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
}

.about__createx-content {
    margin-right: 30px;
}

.about__heading {
    margin-bottom: 60px;
}

.heading {
    color: #1E212C;
}

.heading__subtitle {
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.heading__title {

    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
}

.about__text {
    font-weight: 400;
    line-height: 160%;
    color: #424551;
    width: 600px;
}

.about__text--accent {
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin: 48px 0 24px;

}

.about__btn-box {
    display: flex;
}

.button-empty {
    margin-right: 24px;
}

.about_value {
    display: flex;
    justify-content: space-between;
    margin-top: 179px;
}

.about__image-box {
    width: 810px;
    height: 500px;
    border-radius: 4px;
    overflow: hidden;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.about__numbers {
    font-size: 18px;
    line-height: 150%;
    margin-left: 30px;
    align-self: center;
}

.about__numbers span {
    color: #FF3F3A;
    font-size: 48px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
    margin-right: 16px;
}

.about__number {
    display: flex;
    align-items: center;
}

/*========================= DIRECTION =========================*/
/*========================= DIRECTION =========================*/
.main__directions {
    padding-bottom: 180px;
}

.directions__inner {
    position: relative;
}

.directions__inner::before {
    content: "";
    background: url(../image/1.svg) no-repeat;
    position: absolute;
    top: 30px;
    left: -190px;
    width: 136px;
    height: 115px;
}

.directions__inner::after {
    content: "";
    background-image: url(../image/3.svg);
    position: absolute;
    top: 377px;
    right: -340px;
    width: 142px;
    height: 242px;
}

.directions__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    font-weight: 700;
}

.directions__filter-box {
    display: flex;
    margin-bottom: 57px;
}

.directions__filter-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: #9A9CA5;
    margin-right: 61px;
    border-radius: 4px;
    border: 1px solid #9A9CA5;
    background: transparent;
    padding: 1px 8px;

}

/* .directions__filter-btn--active {
    background-image: linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%);
    color: #fff;
    border: none;
} */
.directions__filter-btn--active {
    background-image: linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%);
    color: #fff;
    border: none;
}

.directions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    overflow: hidden;
}


.directions__list-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    border: 1px solid #E5E8ED;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow .3s;
}

.directions__list-item--empty {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    max-width: 242px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.directions__image-box img {
    width: 100%;
    height: 100%;
}

.directions__link-content {
    padding: 24px;
}

.directions__link-tag {
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    padding: 1px 8px;
    margin-bottom: 21px;
}

.directions__list-item--marketing .directions__link-tag {
    background-color: #03CEA4;
}

.directions__list-item--management .directions__link-tag {
    background-color: #5A87FC;
}

.directions__list-item--hr .directions__link-tag {
    background-color: #F89828;
}

.directions__list-item--design .directions__link-tag {
    background-color: #F52F6E;
}

.directions__list-item--development .directions__link-tag {
    background-color: #7772F1;
}

.directions__link-text {
    font-weight: 400;
    margin-bottom: 20px;
}

.directions__link-btn {
    display: flex;
    align-items: center;
    transition: all .2s;
}

.directions__link-btn::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../image/Right.svg);
}

.directions__list-item:hover {
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.directions__list-item:hover .directions__link-btn {
    color: #FF3F3A;
}

/*========================= CERTIFICATE =========================*/
/*========================= CERTIFICATE =========================*/

.main__cerf {
    margin-bottom: -46px;
}

.cerf__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cerf__inner::before {
    content: "";
    background: url(../image/2.svg) no-repeat;
    position: absolute;
    top: -15px;
    left: -160px;
    width: 60px;
    height: 60px;
}

.cerf__content {
    margin-right: 130px;
}

.cerf__text {
    font-weight: 400;
    line-height: 160%;
    color: #424551;
    width: 390px;
    margin-top: 48px;
}

.cerf__content-img-box {
    margin-top: 32px;
    display: flex;
    gap: 40px;
}

.cerf__image-box {
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);

}

/*========================= TEAM =========================*/
/*========================= TEAM =========================*/

.main__team {
    padding: 160px 0 180px;
    background-color: #F4F5F6;
}

.team__heading {
    margin-bottom: 60px;
    position: relative;
}

.team__slider-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

}

.team__slider-arrow {
    display: block;
    position: relative;
    z-index: 0;
}

.team__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background-color: #FF3F3A;
    width: 48px;
    height: 48px;
    z-index: -1;
    transition: all .2s;
}

.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}


.team__slider-arrow path {
    transition: all .2s;
}

.team__slider-arrow:hover path {
    fill: #fff;
}

.team__slider-arrow-prev {
    margin-right: 24px;

}

.team__slide {
    margin-right: 30px;
}


.team__image-box {
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
}

.team__slide:hover .team__social {
    transform: translateY(0);
}

.team__image {
    position: relative;
    height: 340px;

}

.team__image img {
    width: 100%;
    height: 100%;
    /*top: 0;
    left: 0; 
    position: absolute; */
    object-fit: cover;

}

.team__social {
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0.00) 43.90%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    transform: translateY(60%);
    transition: all .5s;
}

.team__social-item {
    margin-right: 12px;
}

.team__social-item:last-child {
    margin-right: 0;
}

.team__social-item path {
    transition: all .2s;
}

.team__social-item:hover path {
    fill: #fff;
}

.team__social-link {}

.team__info {
    text-align: center;
}

.team__info-name {
    color: #424551;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 5px;
}

.team__info-position {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

/*========================= TESTIMONIALS =========================*/
/*========================= TESTIMONIALS =========================*/

.main__testimonials {
    padding-bottom: 195px;
}

.testimonials {
    background-color: #F4F5F6;
    position: relative;
}
.testimonials::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-423%,50%);
    width: 143px; 
    height: 105px;
    background: url(../image/dots_decor.svg) 0 0 / 100% no-repeat;
}

.testimonials__inner {}

.testimonials__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.testimonials__slider-wrapper {
    padding: 0 50px;
    position: relative;
}

.testimonials__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    display: flex;
    align-items: center;
    z-index: 0;
}

.testimonials__arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background-color: #FF3F3A;
    width: 48px;
    height: 48px;
    z-index: -1;
    transition: all .2s;
}

.testimonials__arrow--next::before {
    left: 75%;
}

.testimonials__arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.testimonials__arrow:hover path {
    fill: #fff;
}

.testimonials__arrow--prev {
    left: 0;
}

.testimonials__arrow--next {
    right: 0;
    justify-content: end;
}

.testimonials__slider {
    max-width: 1020px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.testimonials__slide {
    background-color: #fff;
    padding: 64px;
}

.testimonials__slide-inner {
    max-width: 810px;
    margin: 0 auto;
    padding-left: 58px;
}

.testimonials__quote::before {
    content: "";
    background: url(../image/braces.svg);
    width: 28px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -58px;

}

.testimonials__quote {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    position: relative;
}

.testimonials_user {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.testimonials__avatar {
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials__info {}

.testimonials__info-name {
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 160%;
}

.testimonials__info-position {
    color: #787A80;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.testimonials__dots li {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.testimonials__dots .slick-active button::before {
    background: #424551;
    transition: all .3s;
}

.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.testimonials__dots button::before {
    border-radius: 4px;
    content: "";
    width: 30px;
    height: 3px;
    background: #B3B7BC; 
}

/*========================= COMPANIES =========================*/
/*========================= COMPANIES =========================*/

.main__companies {
    padding-bottom: 177px;
    background: #F4F5F6;
}

.companies {
}

.companies__inner {
}

.companies__heading {
    text-align: center;
    margin-bottom: 60px;
}

.companies__grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 40px 100px;
}
.companies__grid-link {
}
.companies__grid-link img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: 0.6;
    transition: all .2s;
}
.companies__grid-link img:hover {
    filter: grayscale(0);
    opacity: 1;
}
